<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">
<!--    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">-->
<!--        <result property="name" column="stu_name"/>-->
<!--        <result property="stuNum" column="stu_num"/>-->
<!--    </resultMap>-->

    <select id="findAll" resultType="score">
        SELECT * FROM tbl_score
<!--        동적 sql-->
        <if test="sort == 'num'">
            ORDER BY stu_num
        </if>
        <if test="sort == 'name'">
            ORDER BY stu_name
        </if>
        <if test="sort == 'avg'">
            ORDER BY average DESC
        </if>
    </select>

    <select id="findByStuNum" resultType="score">
        SELECT * FROM tbl_score
        WHERE stu_num = #{stuNum}
    </select>

    <update id="save">
        INSERT INTO tbl_score (stu_name, kor, eng, math, total, average, grade)
        VALUES (#{stuName}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade})
    </update>

    <delete id="deleteByStuNum">
        DELETE FROM tbl_score
        WHERE stu_num = #{stuNum}
    </delete>



</mapper>